body.home {
    @feed-width: 300px;
    #page-content .page-container .page-wrapper { padding-bottom: 0px; }

    .page-container {
        position: relative;
        margin: auto;
        width: 100%;
        padding: 0px 15px 15px 15px;

        .info-column {
            text-align: left;

            @media (min-width: @screen-sm-min) {
                width: calc(100% ~"-" (@feed-width + 35));
                float: left;
            }

            .info {
                @logo-height: 50px;
                @logo-width: 150px;
                @logo-padding: 15px;
                @logo-break: 450px;

                .info-heading-wrapper {
                    position: relative;

                    @media (min-width: @logo-break) {
                        display: flex;
                        align-items: center;
                        min-height: (@logo-height + 8px);
                        padding-left: (@logo-width + @logo-padding);
                    }

                    .info-logo {
                        width: 100%;
                        border: 0;
                        margin: 0px;
                        padding: 0px;
                        img { margin-bottom: 10px; }

                        @media (min-width: @logo-break) {
                            position: absolute;
                            top: 50%;
                            left: 0px;
                            transform: translateY(-50%);
                            width: @logo-width;
                            height: @logo-height;
                            background-image: url("/img/archstrike.svg");
                            background-size: contain;
                            background-position: left center;
                            background-repeat: no-repeat;
                            img { display: none; }

                            &:after {
                                content: " | ";
                                position: absolute;
                                top: calc(50% ~"-" 1px);
                                right: -9px;
                                transform: translateY(-50%);
                                font-size: 18px;
                            }
                        }
                    }

                    .info-heading {
                        margin: 2px 0px;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 20px;
                        a { text-decoration: none; }

                        span {
                            position: relative;
                            bottom: 2px;
                        }
                    }
                }

                .info-body {
                    margin-top: 8px;
                    padding-top: 8px;
                    border-top: 1px solid @c_dark_bg;

                    .social-links {
                        @icon-size: 28px;
                        margin-top: 15px;
                        margin-bottom: 3px;
                        height: @icon-size;
                        user-select: none;

                        .social-icon {
                            margin-right: 10px;
                            display: inline-block;
                            width: @icon-size;
                            height: @icon-size;
                            background-size: contain;
                            background-position: center center;
                            background-repeat: no-repeat;
                            &.github { background-image: url("/img/social/github-black.svg"); }
                            &.twitter { background-image: url("/img/social/twitter-black.svg"); }
                            &.email { background-image: url("/img/social/email-black.svg"); }
                            &.irc { background-image: url("/img/social/irc-black.svg"); }
                        }
                    }
                }
            }

            .news {
                position: relative;
                padding-right: 5px;
                .rss-link { top: 15px; }

                .news-logo, .complete-news-link {
                    position: relative;
                    display: inline-block;
                    height: 27px;
                    padding: 0px 8px;
                    background-color: @c_dark_bg;

                    a, span {
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        color: @c_light_text;
                        font-weight: bold;
                        text-decoration: none;
                    }
                }

                .news-logo {
                    margin-top: 15px;
                    margin-bottom: 15px;

                    &:after {
                        @size: 6px;
                        content: "";
                        position: absolute;
                        bottom: (0px - @size);
                        left: calc(50% ~"-" @size);
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: @size @size 0 @size;
                        border-color: @c_dark_bg transparent transparent transparent;
                    }
                }

                .news-item {
                    &:not(:last-child) { margin-bottom: 20px; }
                    h2 { margin-top: 0px; }

                    .news-heading {
                        position: relative;
                        border-bottom: 1px dotted lighten(@c_dark_text, 50%);

                        .news-title {
                            margin-bottom: 5px;
                            padding-right: 75px;
                            color: @c_red;
                            font-size: 13px;
                            font-weight: bold;

                            a {
                                text-decoration: none;
                                &:hover { text-decoration: underline; }
                            }
                        }

                        .news-date {
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            font-size: 12px;
                        }
                    }

                    .news-body {
                        margin-top: 5px;
                        h1 { font-size: 17px; }
                        h2 { font-size: 15px; }
                        h3, p { font-size: 13px; }

                        h1, h2, h3 {
                            margin: 6px 0px;
                            padding-top: 3px;
                            padding-bottom: 5px;
                            border-bottom: 1px dotted lighten(@c_dark_text, 75%);
                        }

                        ul, ol { padding-left: 20px; }
                    }
                }
            }
        }

        .sidebar {
            @media (min-width: @screen-sm-min) { float: right; }

            .rss-link {
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
            }

            .package-search {
                width: @feed-width;
                border-radius: 3px;
                background-color: @c_dark_bg;
                text-align: left;

                @media (max-width: @screen-xs-max) {
                    position: static;
                    width: auto;
                    margin-top: 25px;
                }

                .package-search-wrapper {
                    height: 46px;
                    padding: 10px;

                    @media (max-width: @screen-xs-max) {
                        height: auto;
                        padding-top: 5px;
                    }

                    div, input {
                        height: 100%;
                        line-height: 26px;
                    }

                    div {
                        display: inline-block;
                        color: @c_light_text;
                        font-size: 12px;
                        font-weight: bold;
                        @media (max-width: @screen-xs-max) { width: 100%; }
                        @media (min-width: @screen-sm-min) { margin-left: 5px; }
                    }

                    input {
                        float: right;
                        width: (@feed-width - 145px);
                        padding: .10em;
                        border: 1px solid darken(@c_dark_bg, 10%);

                        @media (max-width: @screen-xs-max) {
                            float: none;
                            width: 100%;
                        }
                    }
                }
            }

            .sidebar-box {
                margin-top: 13px;
                background-color: darken(@c_light_bg, 10%);
                border: 1px solid darken(@c_light_bg, 15%);
                border-radius: 3px;
                width: @feed-width;

                @media (max-width: @screen-xs-max) {
                    position: static;
                    width: auto;
                }

                .sidebar-box-heading, .sidebar-box-item {
                    padding: 10px;
                    font-size: 12px;

                    @media (max-width: @screen-xs-max) {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }

                .sidebar-box-heading {
                    position: relative;
                    right: 1px;
                    width: calc(100% ~"+" 2px);
                    font-weight: bold;
                    background-color: @c_dark_bg;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;

                    &, a {
                        color: @c_light_text;
                        text-decoration: none;
                    }

                    a:hover { text-decoration: underline; }
                }

                .sidebar-box-item {
                    position: relative;
                    text-align: left;
                    &:not(:last-child) { border-bottom: 1px solid darken(@c_light_bg, 15%); }

                    div {
                        padding-bottom: 5px;
                        @media (max-width: @screen-xs-max) { padding-bottom: 10px; }

                        a {
                            text-decoration: none;
                            font-weight: bold;
                            color: @c_dark_text;
                            &:hover { text-decoration: underline; }
                        }

                        span {
                            font-size: 11px;
                            float: right;
                        }
                    }
                }
            }

            .pkgupdates {
                .info { font-weight: bold; }

                .date {
                    float: right;
                    @media (max-width: 450px) { display: none; }
                }
            }

            .sponsors img {
                margin: 8px auto;
                max-height: 45px;
                user-select: none;
            }
        }
    }
}
