body.team {
    h2 {
        margin-top: 100px;
        padding-bottom: 5px;
        border-bottom: 1px solid #bbb;
    }

    .team-list {
        margin-top: 35px;

        .member-row {
            margin: auto;
            width: 100%;
            max-width: 425px;
            padding-top: 20px;

            .profile-picture {
                margin: 5px auto;
                width: 128px;
                height: 128px;
                background-size: cover;
                background-position: center center;
                border-radius: 50%;
            }

            .profile-info {
                display: inline-block;
                width: 100%;
                padding: 10px 0px;
                border-bottom: 1px solid #bbb;

                p {
                    position: relative;
                }

                input {
                    position: absolute;
                    top: 4px;
                    left: 35px;
                    display: block;
                    width: calc(100% ~"-" @grid-gutter-width);
                    max-width: 300px;
                    padding: 0px 5px;
                    border: 0;
                    border-radius: 4px;
                    background-color: @c-dark-bg;
                    color: @c-light-bg;
                    font-size: 11px;

                    &::selection {
                        background-color: @c-brand;
                    }
                }

                h2 {
                    font-size: 16px;
                    margin-top: 0px;
                }
            }
        }
    }
}
