@import "bootstrap/less/bootstrap";
@import "formstone/src/less/checkbox";
@import "formstone/src/less/dropdown";
@import "var";
@import "fonts";
@import "page";
@import "error";

@import "elements/**";
@import "sections/**";
@import "website/**";

/*
 |
 |  Main Styles
 |
 */

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    .font-opensans;
    min-width: 300px;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    font-weight: 100;
    color: @c-dark-text;
    background-color: @c-light-bg;
    text-rendering: optimizeLegibility;
}

* {
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
}

pre, code {
    background-color: @c-dark-bg;
    color: @c-light-bg;
}

a {
    color: @c-red;
    text-decoration: underline;
    &:hover, &:focus { color: lighten(@c-red, 15%); }
}

h1, h2, h3, h4, h5 {
    color: @c-shading;
    font-weight: 700;
}

h1 {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid @c-dark-bg;
    font-size: 24px;

    .heading-link {
        float: right;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 32px;
    }
}

h2, h3, h4, h5 { margin-bottom: 15px; }
h2 { font-size: 20px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
p { font-size: 14px; }
.container { padding-bottom: 15px; }

.no-mobile {
    @media (max-width: @screen-sm-max) { display: none; }
}
