body.builder {
    #build-logs {
        margin-left: 15px;
        margin-right: 15px;

        input {
            padding-left: 5px;
            padding-right: 5px;
        }

        table {
            width: 100%;
            margin-top: 15px;
            margin-bottom: 15px;
            border: 1px solid @c_dark;
            border-spacing: 0;
            border-radius: 2px;
            background-color: darken(@c_bg, 2%);
            th, td { font-size: 12px; }
            td:hover { background-color: darken(@c_bg, 10%); }

            th {
                text-align: left;
                padding: 5px;
                background-color: darken(@c_bg, 20%);
            }

            .fail a, .done a, .incomplete a, div {
                text-decoration: none;
                display: inline-block;
                width: 100%;
                height: 100%;
            }

            .fail a, .done a, .incomplete a, div, .package, .repo  {
                padding: 5px;

                span.version {
                    float: right;
                    font-style: italic;
                    color: @c_text;
                }
            }

            .fail, .fail a { color: @c_red; }
            .done, .done a { color: @c_green; }
            .incomplete, .incomplete a { color: @c_dark; }

            @media (min-width: @build_table_break) {
                .repo { width: 105px; }
                tr:nth-child(odd) { background-color: darken(@c_bg, 5%); }
                th:not(:first-child), td:not(:first-child) { border-left: 1px solid @c_dark; }
                th, tr:not(:last-child) td { border-bottom: 1px solid @c_dark; }
                .label { display: none; }
            }

            @media (max-width: (@build_table_break - 1)) {
                border-top: none;
                border-bottom: none;

                tr {
                    th { display: none; }

                    td {
                        display: block;
                        width: 100%;
                        border-bottom: 1px solid @c_dark;

                        &.package {
                            font-weight: bold;
                            cursor: pointer;
                            background-color: darken(@c_bg, 15%);
                            user-select: none;
                            &:hover { background-color: darken(@c_bg, 35%); }
                        }

                        &.package-status {
                            display: none;
                            .repo-name, .build-status { float: right; }
                            .build-status { padding-left: 10px; }

                            .label {
                                display: inline-block;
                                width: 65px;
                                text-align: left;
                                color: @c_text;
                            }
                        }
                    }

                    &:first-child td:first-child { border-top: 1px solid @c_dark; }

                    &.visible {
                        .package { background-color: darken(@c_bg, 25%); }
                        .package-status { display: block; }
                    }
                }
            }
        }
    }
}
