.error-row {
    .error-column {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        img.small-logo {
            margin: 50px auto;
            width: 50%;
            height: 50%;

            @media(max-width: (@screen-sm - 1)) {
                width: 75%;
                height: 75%;
            }
        }

        .error {
            margin-top: 60px;
            color: @c_red;
        }
    }
}
