.home-container {
    height: calc(100% ~"-" 100px);
    .row , .row .column { height: 100%; }
}

.home-wrapper {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
    line-height: 1.4;
    text-align: center;
    font-size: 16px;
    .info { margin-top: 80px; }

    .contact {
        margin-top: 50px;
        margin-bottom: 50px;

        a {
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .error {
        margin-top: 60px;
        color: @c_red;
    }

    img {
        &.home-logo { padding: 10px; }

        &.small-logo {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 50%;

            @media(max-width: (@screen-sm - 1)) {
                width: 75%;
                height: 75%;
            }
        }
    }

    h3 {
        color: darken(@c_text, 50%);
        text-align: center;
        font-family: "Montserrat", sans-serif;
        font-size: 1.25em;
        margin-top: .5em
    }
}
