body.packages {
    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    #package-search {
        position: relative;
        top: 5px;
        button { margin-left: 3px; }
    }

    table {
        width: 100%;
        margin: 15px 0px 24px 0px;

        thead tr {
            background-color: @c_dark_bg;
            color: @c_light_text;
        }

        tbody tr {
            background-color: darken(@c_light_bg, 3%);
            &:nth-child(odd) { background-color: darken(@c_light_bg, 6%); }
        }

        th, td {
            vertical-align: top;
            padding: 2px 8px;
        }

        &.packages-table th:last-child { width: 130px; }

        &.package-table {
            th { width: 100px; }

            .architectures {
                span:not(:last-child):after {
                    content: ", ";
                    display: inline;
                }
            }
        }
    }

    .page-list {
        padding: 5px 10px;
        text-align: center;
        font-size: 16px;
        @media (max-width: (@screen-md - 1)) { font-size: 14px; }

        a {
            &.page-link { color: @c_brand; }
            &.page-prev { padding-right: 10px; }
            &.page-next { padding-left: 10px; }
        }

        @media (max-width: (@screen-sm - 1)) {
            @mobile-link-padding: 5px;

            .current-page, .page-link {
                display: inline-block;
                padding-left: @mobile-link-padding;
                padding-right: @mobile-link-padding;
                font-size: 16px;
                line-height: 2;
            }

            a {
                &.page-prev, &.page-next {
                    display: block;
                    border-radius: 3px;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 5px 0px;
                    margin: 5px 0px;
                    background-color: darken(@c_light_bg, 4%);
                    &:hover { background-color: darken(@c_light_bg, 8%); }
                }
            }
        }
    }
}
