body.packages {
    a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
    }

    table {
        width: 100%;
        margin: 15px 0px 24px 0px;
        thead tr { background-color: darken(@c_light_bg, 20%); }
        tbody tr:nth-child(odd) { background-color: darken(@c_light_bg, 5%); }

        th, td {
            vertical-align: top;
            padding: 2px 8px;
        }

        &.packages-table {

        }

        &.package-table {
            tr {
                th { background-color: darken(@c_light_bg, 10%); }
                &:nth-child(odd) th { background-color: darken(@c_light_bg, 20%); }
            }
        }
    }

    .page-list {
        padding: 5px 10px;
        text-align: center;

        a {
            &.page-link { color: @c_brand; }
            &.page-prev { padding-right: 5px; }
            &.page-next { padding-left: 5px; }
        }
    }
}
