#page-content {
    .page-container {
        height: calc(100% ~"-" 100px);
        .row  { height: 100%; }

        .page-wrapper {
            width: 100%;
            line-height: 1.4;
            text-align: center;
            font-size: 15px;
            padding-bottom: 20px;
        }
    }
}
