body.team {
    .team-list {
        padding-left: 35px;
        padding-right: 35px;

        .member-row {
            padding-top: 20px;

            .profile-picture {
                position: absolute;
                top: 5px;
                left: 35px;
                width: 128px;
                height: 128px;
                background-size: cover;
                background-position: center center;
                border-radius: 50%;
            }

            .profile-info {
                min-height: 160px;
                padding: 20px 20px 20px 165px;
                p { margin-left: 18px; }

                h2 {
                    font-size: 16px;
                    margin-top: 0px;
                    margin-left: 15px;
                }
            }

            &:not(:last-child) .profile-info { border-bottom: 1px solid #bbb; }
        }
    }
}
