/*
 |
 |  Custom Variables
 |
 */

// colours
@c_light_text: #e1e1e1; // light text
@c_dark_text:  #111111; // dark text
@c_light_bg:   #f1f1f1; // light background
@c_dark_bg:    #333333; // dark background
@c_shading:    #4d4d4d; // shading
@c_brand:      #00a7ab; // brand colour
@c_red:        #ab0300; // red colour (based off brand)
@c_green:      #53ab00; // green colour (based off brand)

// sizes
@footer_height: 30px;
@build_table_break: 1350px;
