/*
 |
 |  Overridden Variables
 |
 */

// breakpoints
@grid-float-breakpoint: 815px;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1px);

/*
 |
 |  Custom Variables
 |
 */

// colours
@c-light-text: #e1e1e1; // light text
@c-dark-text:  #111111; // dark text
@c-light-bg:   #f1f1f1; // light background
@c-dark-bg:    #333333; // dark background
@c-shading:    #4d4d4d; // shading
@c-brand:      #00a7ab; // brand colour
@c-red:        #ab0300; // red colour (based off brand)
@c-green:      #53ab00; // green colour (based off brand)

// sizes
@footer-height: 30px;
@build-table-break: 1350px;
